{% load static %}
<!DOCTYPE html>

<head>
   
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<style>
#b1{
    background-color: blueviolet;
}
#a1{
    text-decoration: none;
    color: white;
}
</style>
<body>
    <a href="{% url 'TEACH1' %}">
    <button class="btn add">+ Add Teacher</button>
</a><br><br><br>
    <h2>Teacher Details</h2>
    <table border="2px solid">
       <tr>
        <th>Teacher Id</th>
        <th>Teacher Name</th>
        <th>Teacher Mobile</th>
        <th>Teacher Department</th>
        <th>Update</th>
        <th>Delete</th>
        
        
       </tr>
       {% for i in data %}
       <tr>
        <td>{{i.teacher_id}}</td>
        <td>{{i.teacher_name}}</td>
        <td>{{i.teacher_mobile}}</td>
        <td>{{i.department}}</td>
        <td>
            <a href="{% url 'update' i.id %}"> <button class="btn update">Update</button></a>
        </td>
        <td>
            <a href="{% url 'delete' i.id %}" onclick="return confirm('are sure to delete')"> <button class="btn delete">Delete</button></a>
        </td>
        
       
       </tr>
        {% endfor %}

       
    </table>
    <div style="text-align:right; margin-bottom:10px;">
    <a href="{% url 'HOME' %}">
        <button class="btn home-btn">Home</button>
    </a>
</div>
</body>
</html>